* {
    margin: 0;
    padding: 0;
  }
  
  .cart__menu {
    width: 60vw;
    margin: auto;
  }
  
  .product__img {
    width: 7vw;
    height: 7vw;
  }
  .product__view {
    display: flex;
    width: 25vw;
  }
  
  .product__title {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
  }
  
  .product__quantity button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .product__remove {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: skyblue;
    border-radius: 5px;
    cursor: pointer;
  }
  .product__remove:hover {
    background-color: darkseagreen;
  }
  .product__price {
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  


  /* Total */
  .total {
    display: flex;
    justify-content: space-between;
  }
  .total__title {
    font-size: 2rem;
    color: skyblue;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .total__price {
    font-size: 2rem;
    color: green;
    font-weight: bold;
  }