.button__container {
    display: flex;
}
.button {
    margin: 0.5rem;
    padding: 14px 0;
    background-color: #00A046;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}