  * {
    margin: 0;
    padding: 0;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999;
  }
  .closeBtn {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #797878;
    cursor: pointer;
}
  .container {
    max-width: 70vw;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
  }
  .panel {
    padding: 14px;
    border-bottom: 2px solid #e3e3e3;
  }
  .cart__menu {
    padding: 14px;
    max-height: 60vh;
    overflow-y: scroll;
    
  }
  

  .product__view {
    display: flex;
    width: 25vw;
  }
  

  
  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 5px;
  }
  .product__title {
    margin-left: 10px;
  }
  .product__img {
    width: 7vw;
    height: 7vw;
  }
  .product__price {
    color: #111;
    font-size: 1.25rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .product__remove {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
  }